@charset "UTF-8";
body {
  background: #c8e9ef;
  font-family: "Nunito", sans-serif;
  color: #222;
}

* {
  transition: all .65s ease;
  box-sizing: border-box;
}

.container {
  max-width: 75em;
  margin: 0 auto;
}

.header {
  background: #d4555b;
  color: white;
  padding: 0.625em;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .site-title, .header .site-tagline {
  font-weight: 400;
}
@media (max-width: 700px) {
  .header .site-title, .header .site-tagline {
    width: 100%;
    text-align: center;
  }
  .header .site-title {
    margin: 0;
  }
}

.site-title, h1, h2, h3 {
  font-family: "Righteous", sans-serif;
  font-size: 2.625em;
  color: #0d272c;
}

h3 {
  font-size: 2em;
  color: #c96065;
}

.site-title {
  color: white;
}

.site-tagline {
  font-size: 1.125em;
  font-style: italic;
}

.main-nav {
  background: #ffffff;
  color: white;
}
.main-nav a {
  color: #1A577F;
  text-decoration: none;
}
.main-nav ul, .main-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.main-nav ul a {
  padding: 0.9375em 2.1875em;
  display: flex;
  text-transform: uppercase;
}
.main-nav ul a:hover, .main-nav ul a:focus {
  background: white;
  color: #419cd8;
}
.main-nav ul .mobile-button a {
  position: absolute;
  left: -99999em;
}
@media (max-width: 700px) {
  .main-nav ul {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .main-nav ul a {
    position: absolute;
    left: -99999em;
  }
  .main-nav ul.open li {
    width: 100%;
  }
  .main-nav ul.open li.mobile-button a {
    background: white;
    color: #4d4d4d;
  }
  .main-nav ul.open a {
    position: static;
  }
  .main-nav ul .mobile-button a {
    position: static;
  }
  .main-nav a {
    width: 100%;
  }
}

.full-bleed {
  background-size: cover;
  min-height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  .full-bleed {
    min-height: 175px;
  }
}
.cool-photo {
  background-image: url(http://lorempixel.com/1300/400/abstract);
}

.cool-photo2 {
  background-image: url(http://lorempixel.com/1300/400/food);
}

.post {
  padding: 1.875em;
}

.footer {
  background: #d4555b;
  color: white;
  padding: 0.9375em;
  text-align: center;
  font-size: 0.8125em;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid;
}

* {
  box-sizing: border-box;
}

.divAll {
  width: 900px;
  font-family: '黑体';
  margin: 60px auto;
}

#titles {
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  background: #FFF9F3;
  text-align: center;
  border: 1px solid #CCC;
}

#contents {
  margin-top: 30px;
  background: #FFF9F3;
  border: 1px solid #CCC;
}

#form-itemGroup {
  padding: 10px;
}

#form-itemGroup label {
  display: inline-block;
  width: 220px;
  height: 32px;
  line-height: 32px;
  color: #666;
  text-align: left;
}

#form-itemGroup .userName {
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #CCC;
}

#form-itemGroup .default {
  width: 200px;
  height: 32px;
  line-height: 32px;
  color: #999;
}

#form-itemGroup .error {
  height: 32px;
  line-height: 32px;
  color: #F00;
}

#form-itemGroup .success {
  height: 32px;
  line-height: 32px;
  color: #096;
}

.divBtn {
  margin-top: 20px;
  margin-left: 18px;
  width: 100px;
  height: 32px;
  line-height: 32px;
  background-color: #F93;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
  border: none;
}